@import "../assets/stylesheets/bootstrap/_variables"
$slide-count-md: 3
$slide-count-sm: 2
$slide-count-xs: 1
$slide-count-lg: 3

$slide-margin: 50px

$slide-width-xs: 320px
$slide-image-height-xs: 180px

$slide-width: 420px
$slide-image-height: 236px

.slider4
	position: relative
	overflow: hidden
	
	.slider-padded
		position: relative
		overflow: hidden
	
		@media (max-width: $screen-xs)
			width: $slide-width-xs * $slide-count-xs + $slide-margin * ($slide-count-xs - 1)

		@media (min-width: $screen-xs + 1) and (max-width: $screen-sm)
			width: $slide-width-xs * $slide-count-sm + $slide-margin * ($slide-count-sm - 1)

		@media (min-width: $screen-sm + 1) and (max-width: $screen-lg)
			width: $slide-width * $slide-count-sm + $slide-margin * ($slide-count-sm - 1)

		@media (min-width: $screen-lg + 1)
			width: $slide-width * $slide-count-md + $slide-margin * ($slide-count-md - 1)

		margin: auto

	.slide
		position: relative
		display: inline-block
		margin-right: $slide-margin

		@media (max-width: $screen-xs)
			width: $slide-width-xs
			height: $slide-image-height-xs

		@media (min-width: $screen-xs + 1) and (max-width: $screen-sm)
			width: $slide-width-xs
			height: $slide-image-height-xs

		@media (min-width: $screen-sm + 1) and (max-width: $screen-lg)
			width: $slide-width 
			height: $slide-image-height

		@media (min-width: $screen-lg + 1)
			width: $slide-width
			height: $slide-image-height

		
		


		.slide-image
			border: 10px solid white
			position: absolute

			@media (max-width: $screen-xs)
				width: $slide-width-xs
				height: $slide-image-height-xs

			@media (min-width: $screen-xs + 1) and (max-width: $screen-sm)
				width: $slide-width-xs
				height: $slide-image-height-xs

			@media (min-width: $screen-sm + 1) and (max-width: $screen-lg)
				width: $slide-width 
				height: $slide-image-height

			@media (min-width: $screen-lg + 1)
				width: $slide-width
				height: $slide-image-height

			overflow: hidden
			img
				height: inherit
				width: inherit

		.slide-content
			position: absolute
			background-color: #EEEEEE
			border-radius: 25px
			color: black
			padding-left: 50px
			padding-right: 50px
			padding-top: 5px
			padding-bottom: 5px	
			opacity: 0.75
			bottom: 10px
			left: 50%
			transform: translate(-50%, 0);



	

	.prev-btn
		display: inline-block
		position: absolute
		top: 45%
		left: 25px
		font-size: 24px
		color: #42A5F5
		transition: transform 0.5s
		&:hover
			color: #F50057
			transform: scale(1.5)


	.next-btn
		display: inline-block
		position: absolute
		top: 45%
		right: 25px
		font-size: 24px
		color: #42A5F5
		transition: transform 0.5s
		&:hover
			color: #F50057
			transform: scale(1.5)
		

	.slider-wrapper
		position: relative
		overflow: hidden
		@media (max-width: $screen-xs)
			width: ($slide-width-xs + $slide-margin) * $slide-count-xs
			height: $slide-image-height-xs

		@media (min-width: $screen-xs + 1) and (max-width: $screen-sm)
			width: ($slide-width-xs + $slide-margin) * $slide-count-sm
			height: $slide-image-height-xs

		@media (min-width: $screen-sm + 1) and (max-width: $screen-lg)
			width: ($slide-width  + $slide-margin) * $slide-count-md
			height: $slide-image-height

		@media (min-width: $screen-lg + 1)
			width: ($slide-width + $slide-margin) * $slide-count-lg
			height: $slide-image-height

		transition: transform 1s
		

