$icon-font-path: "../assets/fonts/bootstrap/"
@import "../assets/stylesheets/_bootstrap.scss"
@import "main"
@import "slider"
@import "../assets/stylesheets/cropper"
@import "footer"
@import "navbar"
@import "util"
@import "menu"


html, body 
  height: 100%
  margin: 0
  overflow-x: hidden

.content 
  min-height: 100%

.content-inside 
  padding-bottom: 25px





